// Product Detail style


// Product container

.bg-product-detail {
    background-color: $bg-gray;
    height: auto;
    width: 100%;
    padding: 40px;
}

.product-detail-description {
    background-color: $bg-color;
    padding: 20px;
    p {
        padding-bottom: 15px;
    }
}

.bg-image-product {
    background-color: $bg-color;
    padding: 20px;
}